body{
    font-family: 'Barlow', sans-serif;

}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
   
}
a{
    text-decoration: none;
}
/*.......... header part .............. */
#main_head{
    width: 100%;
    margin-bottom: 20px;
}
#header_part{
    width: 70%;
    margin: 80px 20px 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    gap:30px;   
}

#header_part>.main_logo{
   display: block;
   justify-content: flex-start;
}
.main_logo>img{
    width: 65%;
    display: block;
    overflow: hidden;
  
}
.main_p>p{
    color: #5D7698;
    font-size: 18px;
   margin-left: 15px;
   font-weight: 500;
}
.main_button>a{
    background-color: #2271FF;
    color: white;
    font-weight: 600;
    font-size: 11px;
    font-weight: bolder;
    padding: 12px 20px;
    border-radius: 20px;
    margin-left: 15px;
    border: wheat;
}
.main_button>a:hover{
   
    cursor: pointer;

}

/* .main_p>p:hover{
    counter-increment: ;
} */
/* ............... body part................... */
#main_search{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 0px;
   
    padding: 10px 50px ;
}
.search{
   margin-top: 0px;
    border-radius: 30px;
    width: 250px;
    height: 50px;
   padding: 30px;
   border: 1px solid #CCCCCC;
   display: flex;
   justify-content:center ;
   align-items: center;

}
.search>button:hover{
cursor: pointer;
transform:matrix(1.1);
}
.search>input{
    /* width: 100px; */
   padding: 10px;
   border: none;
   font-weight: 300;
   color: #CCCCCC;
   /* font-size: 15px; */
}
.search>button{
    padding:10px;
    border: none;

    font-size: 20px;
    background-color: white;
}

/* ...............  featured part ............ */
.featured_img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    justify-content: center;
    align-items: center;
}
.featured_img{
    width: 60%;
    margin: auto;
}
    .featured{
        width:100%;
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
        margin-bottom: 30px;
        gap:30px
    }
    #featured-article{
        width: 40%;
        display: flex;
        flex-direction:column ;
        justify-content: flex-start;
        align-items: flex-start;
        gap:20px;
        padding: 20px;
    }
    .featured-title{
        color: #183B56;
        font-weight: 600;
    }
    .featured-heading{
        color: #183B56;
        font-weight: 600;
        font-size: 30px;
    }
    .featured-pera{
        color: #5D7698;
        /* font-weight: 600; */
    }
    .featured-name{
        color: #183B56;
        font-weight: 600;
    }
    .featured-read{
        color: #2292FF;
        font-weight: 600;
    }
    @media only screen and ( max-width: 700px ) {
        .featured{
            width:100%;
            margin:20px; 
            margin-bottom: 30px;
            /* gap:10px */
        }
        #featured-article{
            width: 30%;
            display: flex;
            flex-direction:column ;
            justify-content: flex-start;
            align-items: flex-start;
            gap:10px;
            padding: 10px;
        }
      }

    /* body _divs _articles.............. */


    .text_div{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap:20px

    }
    #articles{
        width: 95%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:25px;
        margin: auto;
        justify-content: center;
        align-items: center;
        padding: 30px;
        /* border: 1px solid blue; */
    }
    
    .div1>img{
        width: 100%;
       overflow: hidden;
       object-fit: cover;
    }
    .div3{
        display: flex;
       justify-content: space-between;
       align-items:flex-start;
       font-weight: 600;
    }
    .div1{
       
        border:1px solid #183B56;
        display: flex;

        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .main_div{
        width: 100%;
        height: 550px;
        display: flex;
        /* padding: 20px; */
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap:20px;
        /* border: 1px solid red; */
        margin: auto;
    }
    .div2{ 
        display: flex;
        flex-direction: column;
        gap:20px;
    } 
    .div2>h3{
        color: #183B56;
        font-weight: 600;
        font-size: 30px;
    }
    .div2>p{
        color: #5D7698;
      
    }
    .div3>p:first-child{
        color: #183B56;
    }
    .div3>p{
        color:#2088d8;
    }
    .div2>h3:hover{
        color: #0e5faf;
    }
    /*    .......    VIEW MORE BUTTON.... */


    #view_more{
        width: 150px;
       
        margin:-50px auto 50px;
        text-align: center;
        display: block;
        padding: 15px 30px;
       font-weight: 600;
        border-radius: 25px;
        color: #2292FF;
        background-color: #D7EAFD;
        font-size: 12px;
    }
    #view_more:hover{
        background-color: #c9d8ee;
        cursor: pointer;
    }

    
    .subscribe_main{
        width: 100%;
       margin: auto;
       margin-bottom: 40px;
    }
    #subscribe{
        width: 80%;
        /* border: 1px solid; */
        display: flex;
        margin: auto;
        margin-top: 60px;
        justify-content: space-between;
        align-items: flex-start;
        background: linear-gradient(0deg, #2271ff 1%, #0024d8 100%);
        padding: 50px;
        border-radius: 30px;
    }
.heading-text{
    color: white;
}
.h2_main{
    width: 50%;
    height: 100%;
    padding: 100px;
   
}
.sub_a>a{
    background-color: #1BDBB6;
    color: white;
    font-weight: 600;
    font-size: 18px;
    /* font-weight: bolder; */
    padding: 12px 30px;
    border-radius: 20px;
   
    border: wheat;

}
.sub_a>a:hover{
    border: 1px solid white;
    cursor: pointer;
}

/* ......fooder part.... */


#fooder_part{
    width: 90%;
    margin: 60px auto;

}
#fooder_part>.inside_fooder{
    padding: 70px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #EFF7FF;
    margin: auto;
}
.right_div>img{
    width: 100%;
    display: block;
    overflow: hidden;

}
.fl-heading-text{
    color: #183B56;
   
    
}
.peragrape{
    color: #5D7698;
   
}
.left_div{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
   margin: auto;
    padding: 10px;
    gap:20px
}
.button-text{
    color: #2271FF;
    border: none;
    font-weight: 600;
    border-bottom: none;
}