
nav
{
    position:fixed;
    margin: auto;
    width:98%;
    top:0;
    border:1px solid transparent;
    height:92px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    background-color: #2272ff;
    z-index: 3;
}

nav:hover
{
    background-color: white;
    transition: all 0.5s ease;
}

nav:hover .bottom_highlight
{
    color: black;
}

nav:hover #search_icon
{
    color:black;
}

nav:hover #request_a_demo_button 
{
    border:1px solid #2272ff;
    background-color: white;
    color: #2272ff;
}

nav:hover #person_icon
{
    color: black;
}

nav:hover #navbar_logo>img:nth-child(2)
{
    opacity:1;
}

body
{
    margin-top: 94px;
}

#navFirstHalf
{
    /* border:1px solid red; */
    display: flex;
    height:100%;   
    gap:30px;
}

#person_icon
{
    width:24px;
    margin-right: 10px;
    color:white;
    font-size: 25px;
}

#search_icon
{
    margin-right: 10px;
    color:white;
    font-weight:300;
    
}

/* megaMENU */

/* #menu_wrapper
{
    border: 1px solid;
} */

ul
{
    list-style: none;
    display: flex;
    align-items: center;
    gap:20px;
}

.bottom_highlight
{
    /* border: 1px solid red; */
    padding-top: 38px;
    padding-bottom: 34px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    border-bottom: 4px solid transparent;
}

.menu
{
    /* border: 1px solid green; */
    position: absolute;
    width: 82.7%;
    left: 0;
    padding:40px 130px;
    display: grid;
    justify-content: space-between;
    background-color: white;
    /* display: none; */
}

#products_menu
{
    grid-template-columns: 30% 65%;
}

.heading_flex_wrap
{
    display:flex;
    align-items: center;
    gap:15px;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
}

.heading_flex_wrap>img
{
    height: 35px;
}

.heading_flex_wrap+p
{
    margin-left: 45px;
    font-size: 12px;
    color: grey;
    font-weight: 500;
}

.menu_wrap_2col_flex
{
    display: flex;
    gap:20px;
    justify-content: space-between;
}


.blue_learn_more_link
{
    background-color: white;
    border:0px;
    color:#2272ff;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 20px;
}

.menu
{
    visibility: hidden;
}

.bottom_highlight:hover 
{
    border-bottom: 4px solid #2272ff;
}

.pop_up_list:hover .menu
{
    visibility: visible;
}

#solution_menu
{
    grid-template-columns: 65% 25%;
}

#customer_menu
{
    grid-template-columns: 50% 35%;   

}

#resource_menu
{
    grid-template-columns: 60% 30%;   
}

#company_menu
{
    grid-template-columns: 60% 35%;   
}

.menu_wrap_2col_grid
{
    display: grid;
    grid-template-columns: 30% 30% 30%;
}

.menu_blue_box
{
    /* height: 100px; */
    padding-top:30px;
    border-radius: 15px;
    padding-left: 10px;
    background-color: #2272ff;
    color: white;
}

.free_report_link
{
    background-color: #02f2ff;
    color: white;
}

.resource_box
{
    border:1px solid;
    padding: 30px 70px 30px 20px;
    border-radius: 15px;
    color: white;
    background-color: #02f2ff;
}

.menu_blue_box>h4
{
    padding-top: 5px;
    padding-bottom:25px;
}

#navbar_logo
{
    position:relative;
    border:1px solid transparent;
}

#navbar_logo>img:first-child
{
    /* border: 1px solid red; */
    height: 38px;
    margin: 18px 34px 26px 0px;
}

#navbar_logo>img:nth-child(2)
{
    /* border: 1px solid red; */
    position: absolute;
    left:0;
    opacity: 0;
    height: 38px;
    margin: 18px 34px 26px 0px;
}

#request_a_demo_button
{
    font-size: 12px;
    font-weight: bold;
    padding: 15px 22px;
    border-radius: 30px;
    border:1px solid white;
    background-color: #2272ff;
    color: white;

}